<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <h1>CRUD Operations</h1>

    <form action="save/" method="post">
        {% csrf_token %}
        <label for="name">Item Name:</label><br>
        <input type="text" id="name" placeholder="Name" required name="name"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" required placeholder="Description" name="description"><br>
        <input type="submit" value="Submit">
    </form>

    <!-- Table -->
     <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>
                <a href="edit/{{ item.id }}">Edit</a>
                <a href="delete/{{ item.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>